<br />

<div class="booyah-box col-10 offset-1">
  <h1>Meet the Team</h1>
  <br />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me-code.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1 text-center">
      <h2 class="text-center">Olivia Goehrig</h2>
      <br />
      <p>
        Flixter was built by <a target="_blank" href="https://github.com/OliviaG-jpeg">Olivia</a>. An aspiring web developer who studies at the University of Central Florida's Coding Boot Camp.
      </p>
      <br />
      <p>
        Olivia created this application under the direction of <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken</a>. Two developers who have made it their mission to teach and lead aspiring developers - like Olivia - at institutions across the country.
      </p>
      <br />
      <p>
        Olivia is a beginning web developer studying with the University of Central Florida's Coding Boot Camp. After completing the boot camp, Olivia hopes to obtain a bachelor's degree of Computer Science with the University of Central Florida. She is an intern with Pasco County, Florida's IT department.
      </p>
    </div>
    <br />
</div>